// Import Colors Variables
@use './sass/variables/colors' as *;

// Import Constant Variables
@use './sass/variables/constant' as *;

// Import Mixins
@use './sass/helpers/mixins' as *;

footer {
    background-image: url(../imgs/footer-bg.png);
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    padding: $main-padding;
    .container {
        margin-top: 100px;
        text-align: center;
    }
    h2 {
        color: #fff;
        letter-spacing: 1px;
        font-size: 27px;
        margin: 75px 0 30px 0;
        @include hoverBeforeAnim();
        cursor: pointer;
        &::before {
            background-color: #fff;
        }
    }
    form {
        display: flex;
        .column {
            display: flex;
            flex-direction: column;
            div {
                position: relative;
                input {
                    padding: 14px 28px;
                    border: none;
                    border-bottom: 1px solid #eee;
                    height: 50px;
                    width: 250px;
                    &::placeholder {
                        font-size: 13px;
                        transition: 0.2s;
                    }
                    &:focus {
                        outline: none;
                    }
                    &:focus::placeholder {
                        opacity: 0;
                    }
                   &.first {
                    border-top-left-radius: 4px;
                   }
                   &.last {
                    border-bottom-left-radius: 4px;
                   }
                }
                i {
                    position: absolute;
                    left: 0px;
                    top: 18px;
                    font-size: 12px;
                    margin-left: 8px;
                    color: #979393;
                }
            }
           
            textarea {
                height: calc(50 * 2px);
                width: calc(170.4 * 2px);
                border: none;
                border-left: 1px solid #eee;
                resize: none;
                padding: 14px;
                border-top-right-radius: 4px;
                &::placeholder {
                    transition: 0.2s;
                }
                &:focus {
                    outline: none;
                }
                &:focus::placeholder {
                    opacity: 0;
                }
            }
            button {
                height: 50px;
                border-bottom-right-radius: 4px;
                background: linear-gradient(to top, #03a1ef, #0aaeff);

            }
        }
    }
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px -20px;
        color: #fff;
        span {
            font-size: 14px;
            cursor: pointer;
            i {
                margin-left: 3px;
                font-size: 14px;
            }
        }
    }
}
@include breakPoints(mobile) {
    .footer {
        background-image: none;
        background: linear-gradient(to left, #2094ce, #58c0f4);
        height: 625px;
        width: auto;
        overflow: hidden;
        padding: 0;
        .container {
            text-align: start;
            margin-top: 0;
        }
        h2 {
                color: #fff;
                text-align: center;
        }
        form {
            flex-direction: column;
            align-items: center;
            position: relative;
            input {
                width: 220px !important;
                height: 40px !important;
            }
            textarea {
                width: 300px !important;
            }
            .column {
                button {
                    color:  $main-color;
                    width: 300px;
                    background: none;
                    background: linear-gradient(to left, #b8cfda, #ebfaff);
                }
                div {
                    i {
                  display: none;
                    }
                }
            }
        }
        .info {
            flex-direction: column;
            margin: 20px 0 0 0;
            span {
                margin: 10px 0;
            }
        }
    }
}

@include breakPoints(small) {
    .footer {
        background-image: none;
        background: linear-gradient(to left, #2094ce, #58c0f4);
        height: 625px;
        width: auto;
        overflow: hidden;
        padding: 0;
        .container {
            text-align: start;
            margin-top: 0;
        }
        h2 {
                color: #fff;
                text-align: center;
        }
        form {
            flex-direction: column;
            align-items: center;
            position: relative;
            input {
                width: 220px !important;
                height: 40px !important;
            }
            textarea {
                width: 300px !important;
            }
            .column {
                button {
                    color:  $main-color;
                    width: 300px;
                    background: none;
                    background: linear-gradient(to left, #b8cfda, #ebfaff);
                }
                div {
                    i {
                  display: none;
                    }
                }
            }
        }
        .info {
            flex-direction: column;
            margin: 20px 0 0 0;
            span {
                margin: 10px 0;
            }
        }
    }
}

